body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(173, 169, 169);
}

.grid {
    width: 640px;
    height: 640px;
    background-color: white;
  }
  .container{
    display: flex;
    flex-direction: row;
  }
  
  .grid {
    width: 640px;
    height: 640px;
    
  }
  .colunaBotoes{
    margin: 10px;
    flex-direction: column;
  }
  .square64x64 { 
    width: 10px;
    height: 10px;
    float: left;
    box-sizing: border-box;
    border: 1px solid black;
  }
  .square16x16 {
    width: 40px;
    height: 40px;
    float: left;
    box-sizing: border-box;
    border: 1px solid black;
  } 
  .square32x32 {
    width: 20px;
    height: 20px;
    float: left;
    box-sizing: border-box;
    border: 1px solid black;
  
  }
  .container{
    
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  button:hover {background-color: #3e8e41}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }